body {
    background-color: #1e2931;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-style: normal;
    line-height: 1.5;
    margin: 0 auto;
    width: 90%;
}

.search {
    font-size: 1.5rem;
    margin: 1.5em auto 3em;
    max-width: 80%;
}

.search [type='search'] {
    background-color: #ffffff;
    color: #898F9C;
    padding: 0.5em 2em;
    text-align: center;
    width: 100%;
}

.movies-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 20px auto;
}

.movies-card{
    width: calc(16.6% - 22px);
    margin: 10px;
    box-shadow: 0 0 1em rgb(0 0 0 / 30%);
}

.movie-image{
    width: 100%;
    height: 230px;
}

figcaption{
    padding: 1em;
}

.movie__title{
    font-size: 1rem;
    font-weight: normal;
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
    font-variant: small-caps;
    margin: 0;
}